@page "/"

<a href="https://youtu.be/QtBDL8EiNZo">
    <img style="width:100vw;height: 100vh;position: absolute;z-index: -1" src="Resources/Background.png" alt="Background"/>
    <p style="color: white; position: absolute; left: 31vw; top: 25vh; font-size: 15vw; font-family: 'Comic Sans MS'; text-decoration: none;">
        Hallo
    </p>
</a>