@page "/"

<a href="https://youtu.be/QtBDL8EiNZo">
    <div style="width: 100vw; height: 100vh; position: absolute; z-index: -1; background: radial-gradient(ellipse at 0 0, #a500ff, #000000);"></div>
    <p style="color: white; position: absolute; left: 31vw; top: 25vh; font-size: 15vw; font-family: 'Comic Sans MS'; text-decoration: none;">
        Hallo
    </p>
</a>