@page "/"

<img style="width:100vw;height: 100vh;position: absolute;z-index: -1" src="Resources/Background.png" alt="Background"/>
<a href="https://youtu.be/QtBDL8EiNZo" style="color: white; position: absolute; left: 37vw; top: 25vh; font-size: 28vh; font-family: 'Comic Sans MS'; text-decoration: none;">Hallo</a>